
* {
  box-sizing: border-box; 
}

body {
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(35, 25, 66);
}
header{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-family:'Courier New', Courier, monospace;
  background-color: #b392ac;
  border: 3px solid rgb(248, 249, 250);
  
}

h1 {
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
  text-align: center;
}

main {
  background-color: #b392ac;
  border: 3px solid rgb(248, 249, 250);
  display: flex;
  flex-direction: row;

}

h2 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}

#resultsDiv {
  display: inline-block;
  border: 3px solid rgb(248, 249, 250);
  vertical-align: top;
  background-color: rgb(206, 212, 218);
  height: 500px;
  width: 250px;
  margin-right: 20px;
  margin: 15px;
  position: relative;
  overflow-y: auto;
  padding-bottom: 20px;
}
#resultsDiv:hover {
  background-color: #e69e5a;
}


section {
  display: inline-block;
  vertical-align: top;
  width:800px;
}

p {
  margin-top: 25px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid rgb(248, 249, 250);
  padding: 10px;
  height: fit-content;
  margin-left: 70px;}

header img {
  margin: 15px;
}

div > img {
  width: 33%;
  height: 300px;
  margin-top: 80px;
  /* padding: 15px; */
  border: 5px solid transparent #e69e5a;
  margin: 5px;
  margin-left: 50px
}

#imgContainer {
  border: 5px solid transparent #e69e5a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 5px; */
  }

div img:hover {
  border: 5px solid #e69e5a;
  cursor: crosshair;
}

ul {
  margin: 1rem;
  list-style-type: disc;
}

button {
  position:absolute;
  bottom: 5px;
  margin-left: 75px;
  
}

#myChart {
  background-color: #b392ac;
  width: 100%;

}

#myChartDiv {
  border: 3px solid rgb(248, 249, 250);
  color:black;
  width: 100%;
  margin-bottom: 30px;
}

#siteLogo {
  width: 160px;
  height: 50px;
}
