
* {
  box-sizing: border-box; 
}

body {
  margin-left: 30px;
  margin-right: 30px;
 
}
header{
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-family:'Courier New', Courier, monospace
}

h1 {
  font-weight: bolder;
  margin-top: 18px;
  margin-left: 10px;
}

main {
  margin: 3rem auto;
  background-color: beige;
}

h2 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}

#resultsDiv {
  display: inline-block;
  vertical-align: top;
  background-color: blanchedalmond;
  height: 500px;
  width: 250px;
  margin-right: 20px;
  position: relative;
}

section {
  display: inline-block;
  vertical-align: top;
  max-width: 700px;
}

p {
  max-width: 1325px;
  margin-top: 50px;
  font-size: 20px;
}

div > img {
  width: 200px;
  height: 300px;
  align-items: stretch;
  border: 5px solid transparent;
  margin-top: 10px;
}

div img:hover {
  border: 5px solid blue;
  cursor: pointer;
}

ul {
  margin: 1rem;
  list-style-type: disc;
}

button {
  position: absolute;
  bottom: 5px;
}
