* {
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 26, 69);
  width: 1390px;
  margin-left: 30px;
}

header {
  /* margin-top: 15px;
  margin-left: 30%;
  margin-right: 15%; */
  display: flex;
  flex-direction: row;
justify-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
  font-weight: bolder;
  padding: 20px; 
  /* margin-bottom: 15px;
  font-size: 30px;  */
  text-align: center;
  background-color: rgb(35, 25, 66);
  color: #edcef6;
  border: 3px solid rgb(248, 249, 250);
  height:80px;
  border-radius: 5%;
  margin-top: 20px;
  font-size:30px;
}

main {
  background-color: #b392ac;
  border: 3px solid rgb(248, 249, 250);
  display: flex;
  flex-direction: row;
}

h2 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}

#resultsDiv {
  display: inline-block;
  border: 3px solid  rgb(35, 25, 66);
  vertical-align: top;
  background-color: rgb(221, 220, 219);
  height: 700px;
  width: 250px;
  margin-right: 20px;
  margin: 15px;
  position: relative;
  overflow-y: auto;
  padding-bottom: 20px;
}

section {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}

p {
  margin-top: 25px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
  border: 3px solid  rgb(35, 25, 66);
  padding: 15px;
  height: fit-content;
  margin-left: 70px;
  z-index: 30%;
}

header img {
  margin: 15px;
}

div > img {
  width: 33%;
  height: 300px;
  margin-top: 80px;
  padding: 15px;
  border: 5px solid transparent rgb(35, 25, 66);;
  margin: 5px;
}

#imgContainer {
  border: 3px solid  rgb(35, 25, 66);
  margin: 50px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 0px 0px 25px 35px rgba(78,15,124,0.85); 
  box-shadow: 0px 0px 20px 25px rgba(35, 1, 127, 0.85);
  /* margin: 5px; */
}

div img:hover {
  border: 3px solid rgb(35, 25, 66);
  cursor: crosshair;
}

div > p {
  background-color: rgb(221, 220, 219);
  width: 850px;
  margin-left: 100px;
}
ul {
padding:10px;
list-style-type: circle;
margin: 10px;
}

button {
  position: absolute;
  /* bottom:0;
  left: 105px;  
  margin-bottom: 90px; */
}

#myChart {
  background-color: #b392ac;
  /* width: 100%; */
}

#myChartDiv {
  border: 3px solid rgb(248, 249, 250);
  color: black;
  height: 50%;
  width: 100%;
  margin-bottom: 30px;
}

#btnContainer {
  position: relative;
  align-items: center;
  
}

#viewResultsBtn {
  margin-left: 150px;
  border: 5px double #40177F;
  
}

#resetBtn {
  border: 5px double #40177F;
}

h6 {
  font-size: large;
  color:rgb(35, 25, 66);
  font-weight: bold;
  width: 850px;
}

#resetBtn:hover {
  background-color: rgb(9, 145, 179);
}

#viewResultsBtn:hover {
  background-color:  rgb(9, 145, 179);
}

#siteLogo {
  height: 80px;
  width: 200px;
  margin: 20px;
  border-radius: 20%;
  margin-left: 20px;
  margin-right: 60px;
}
