* {
  box-sizing: border-box;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(35, 25, 66);
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #b392ac;
  border: 3px solid rgb(248, 249, 250);


}

h1 {
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 350px;
  padding: 20px;
  margin-bottom: 5px;
  font-size: 30px;
  text-align: center;
  color: #100202;
  background-color: rgb(35, 25, 66);
  color: #edcef6;
  border-radius: 5%;
}

main {
  background-color: #b392ac;
  border: 3px solid rgb(248, 249, 250);
  display: flex;
  flex-direction: row;

}

h2 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}

#resultsDiv {
  display: inline-block;
  border: 3px solid rgb(248, 249, 250);
  vertical-align: top;
  background-color: rgb(206, 212, 218);
  height: 500px;
  width: 250px;
  margin-right: 20px;
  margin: 15px;
  position: relative;
  overflow-y: auto;
  padding-bottom: 20px;
}

#resultsDiv:hover {
  background-color: #e69e5a;
}


section {
  display: inline-block;
  vertical-align: top;
  width: 800px;
}

p {
  margin-top: 25px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
  border: 1px solid rgb(248, 249, 250);
  padding: 15px;
  height: fit-content;
  margin-left: 70px;
  z-index: 30%;
}

header img {
  margin: 15px;
}

div > img {
  width: 33%;
  height: 300px;
  margin-top: 80px;
  padding: 15px;
  border: 5px solid transparent rgb(35, 25, 66);;
  margin: 5px;
}

#imgContainer {
  border: 5px solid  rgb(35, 25, 66);
  margin: 50px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 0px 0px 25px 42px rgba(78,15,124,0.85); 
  box-shadow: 0px 0px 25px 42px rgba(78,15,124,0.85);
  /* margin: 5px; */
}

div img:hover {
  border: 5px solid #e69e5a;
  cursor: crosshair;
}

section > p {
  background-color: rgb(97, 55, 148);
  color:#edcef6;
  width: 850px;
  margin-left: 100px;
}
ul {
padding:10px;
list-style-type: circle;
margin: 10px;
}

button {
  position:fixed;
  bottom:0;
  left: 105px;  
  margin-bottom: 90px;
}

#myChart {
  background-color: #b392ac;
  width: 100%;

}

#myChartDiv {
  border: 3px solid rgb(248, 249, 250);
  color: black;
  width: 100%;
  margin-bottom: 30px;
}

#siteLogo {
  width: 160px;
  height: 50px;
  border-radius: 30%;
}
